

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_header') %>
</head>
<body>
  <ul>
    <% for(shortURL in urls) { %>
      <p><%= shortURL + " " %> &#8594; <a href="<%= `/u/${shortURL}` %>"><%= urls[shortURL] %></a></p>


      <form method="POST" action="/urls/:id">
        <a href="<%= `/urls/${shortURL}` %>"> Edit </a>
      </form>


      <form method="POST" action="/urls/<%=shortURL%>/delete">
        <strong for="longURL">Would you like to Delete?:</strong>
        <input type="submit" value="Delete">

    <% } %>

      </form>
  </ul>
</body>
</html>

